        @if (TempData["success"] != null)
        {
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong></strong>@TempData["success"]
            </div>
        }

        @if (TempData["info"] != null)
        {
            <div class="alert alert-dismissible alert-info">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong></strong>@TempData["info"]
            </div>
        }

        @if (TempData["fail"] != null)
        {
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <strong></strong>@TempData["fail"]
            </div>
        }
