<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Egost</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.united.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap-icons-1.10.5/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Egost.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="px-3 py-2 text-bg-dark border-bottom">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        <img src="~/Egost Logo.jpg" width="180px"/>
                    </a>
                    <form method="get" class="d-flex flex-grow-1 mx-5" role="search" asp-area="" asp-controller="Store" asp-action="Search">
                        <div class="input-group">
                            <input type="search" name="KeyWord" class="form-control" placeholder="Search..." aria-label="Search">
                            <button class="btn btn-info" type="submit"><i class="bi bi-search"></i></button>
                        </div>
                    </form>
                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center text-center my-md-0 text-small">
                        <li>
                            <a asp-area="" asp-controller="Cart" asp-action="Index" class="nav-link text-white">
                                Cart
                                <i class="bi bi-cart3 d-block mx-auto mb-1" width="24" height="24"></i>
                            </a>
                        </li>
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </div>
    </header>


    <partial name="_Flash" />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Egost - Abdelrahman Almowafy
        </div>
    </footer>
    <script src="https://unpkg.com/swiper@11/swiper-bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
