<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Egost</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/bootstrap.united.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap-icons-1.10.5/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Egost.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="px-3 py-2 text-bg-dark border-bottom">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                        @*<svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>*@
                        Egost
                    </a>

                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center text-center my-md-0 text-small">
                        <li>
                            <a asp-area="" asp-controller="Store" asp-action="Home" class="nav-link text-secondary">
                                <i class="bi bi-house-door d-block mx-auto mb-1" width="24" height="24"></i>
                                Home
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Manage" asp-action="IndexWishlist" class="nav-link text-white">
                                <i class="bi bi-bag-heart d-block mx-auto mb-1" width="24" height="24"></i>
                                Wishlist
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Cart" asp-action="Index" class="nav-link text-white">
                                <i class="bi bi-cart3 d-block mx-auto mb-1" width="24" height="24"></i>
                                Cart
                            </a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Order" asp-action="Index" class="nav-link text-white">
                                <i class="bi bi-truck d-block mx-auto mb-1" width="24" height="24"></i>
                                Orders
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <i class="bi bi-info-circle d-block mx-auto mb-1" width="24" height="24"></i>
                                About Us
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="px-3 py-2 border-bottom mb-3">
            <div class="container d-flex flex-wrap justify-content-center">
                <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto" role="search">
                    <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                </form>
                <div class="text-center d-flex">
                    <partial name="_ManagePartial" />
                </div>
                <div class="text-end d-flex">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </div>
    </header>


    <partial name="_Flash" />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Egost - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
