@using Microsoft.AspNetCore.Identity

@inject SignInManager<Egost.Areas.Identity.Data.User> SignInManager
@inject UserManager<Egost.Areas.Identity.Data.User> UserManager
@if (SignInManager.IsSignedIn(User))
{
    Egost.Areas.Identity.Data.User user = UserManager.GetUserAsync(User).Result!;
    @if (await UserManager.IsInRoleAsync(user, "Admin") || await UserManager.IsInRoleAsync(user, "Moderator"))
    {
        <a class="btn btn-success me-2" asp-area="" asp-controller="Manage" asp-action="NewProduct">New Product &nbsp; <i class="bi bi-plus-circle"></i></a>
        <a class="btn btn-info me-2" asp-area="" asp-controller="Manage" asp-action="IndexNonTransportedProducts">IndexNonTransportedProducts &nbsp; <i class="bi bi-car-front"></i></a>

    }
    else if(await UserManager.IsInRoleAsync(user, "Transporter"))
    {
        <a class="btn btn-info me-2" asp-area="" asp-controller="Manage" asp-action="IndexNonTransportedProducts">IndexNonTransportedProducts &nbsp; <i class="bi bi-car-front"></i></a>
    }
}