@model Product
@{
    ViewData["Title"] = "New Product";
}
<form method="post" enctype="multipart/form-data">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">New Product</h2>
        </div>
        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label class="col-form-label mt-4" for="inputDefault" asp-for="Name"></label>
            <input type="text" class="form-control" asp-for="Name">
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label class="form-label mt-4" for="inputDefault" asp-for="Description"></label>
            <textarea class="form-control" rows="3" asp-for="Description"></textarea>
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <label class="col-form-label mt-4" for="inputDefault" asp-for="Category"></label>
            <select class="form-select" asp-for="Category">
                @foreach (string Cat in ViewBag.Categories)
                {
                    <option>@Cat</option>
                }
            </select>
            <span class="text-danger" asp-validation-for="Category"></span>
        </div>
        <div class="form-group">
            <label class="form-label mt-4" for="inputDefault" asp-for="PriceCents"></label>
            <div class="input-group mb-3">
                <span class="input-group-text">EGP</span>
                <input type="number" min="0" class="form-control" aria-label="Amount" asp-for="PriceCents">
            </div>
            <span class="text-danger" asp-validation-for="PriceCents"></span>
        </div>
        <div class="form-group">
            <label class="form-label mt-4" for="inputDefault" asp-for="SalePercent">Sale Percent</label>
            <div class="input-group mb-3">
                <span class="input-group-text">%</span>
                <input type="number" min="0" max="99" class="form-control" aria-label="Amount" asp-for="SalePercent">
            </div>
            <span class="text-danger" asp-validation-for="SalePercent"></span>
        </div>
        <div class="form-group">
            <label class="col-form-label mt-4" for="inputDefault" asp-for="SKU"></label>
            <input type="number" min="0" class="form-control" asp-for="SKU">
            <span class="text-danger" asp-validation-for="SKU"></span>
        </div>
        <div class="form-group">
            <label class="col-form-label mt-4" for="inputDefault" asp-for="Media">Upload Product media </label>
            <br>
            <input type="file" required multiple class="form-control-file" id="Media" name="Media" asp-for="Media">
            <span class="text-danger" asp-validation-for="Media"></span>
        </div>
        <!-- Preview Section -->
        <div class="form-group">
            <div id="media-preview" class="media-preview"></div>
        </div>

        <br><br>
        <button type="submit" class="btn btn-success">Submit</button>
        <a class="btn btn-primary" asp-controller="Store" asp-action="Home">Back to Home</a>
    </div>
</form>

<!-- Modal -->
<div class="modal fade" id="mediaPreviewModal" tabindex="-1" role="dialog" aria-labelledby="mediaPreviewModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mediaPreviewModalLabel">File Preview</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img src="" id="modalImage" style="width: 100%;">
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script src="~/js/MediaInput.js"></script>
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}
