@model Address
@{
    ViewData["Title"] = "Add Address";
}

<h2>Add New Address</h2>

<form method="post">
    <div class="form-group mb-3">
        <label asp-for="Country"></label>
        <input asp-for="Country" class="form-control" />
        <span asp-validation-for="Country" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="City"></label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="AddressLine1"></label>
        <input asp-for="AddressLine1" class="form-control" />
        <span asp-validation-for="AddressLine1" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="AddressLine2"></label>
        <input asp-for="AddressLine2" class="form-control" />
        <span asp-validation-for="AddressLine2" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="PostalCode"></label>
        <input asp-for="PostalCode" class="form-control" />
        <span asp-validation-for="PostalCode" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
        <label asp-for="Telephone"></label>
        <input asp-for="Telephone" class="form-control" />
        <span asp-validation-for="Telephone" class="text-danger"></span>
    </div>
    <input type="checkbox" asp-for="StoreAddress" checked hidden />
    <button type="submit" class="btn btn-primary">Add Address</button>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
