html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}





/* input Media preview */
.media-preview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

    .media-preview .preview-image {
        position: relative;
    }

        .media-preview .preview-image img {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }

        .media-preview .preview-image input {
            width: 100px;
        }

        .media-preview .preview-image .remove-button {
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: rgba(0, 0, 0, 0.7);
            color: white;
            width: 20px;
            height: 20px;
            display: none;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            cursor: pointer;
            font-size: 12px;
        }

        .media-preview .preview-image:hover .remove-button {
            display: flex;
        }

    .media-preview .modal-container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999; /* Higher value to appear above other elements */
    }

        .media-preview .modal-container img {
            max-width: 100%;
            max-height: 100%;
        }


/* Identity */
.form-floating {
    margin-bottom: 20px;
}

/* icons */
.icon {
    height: 60px;
    width: 60px;
}

/* Home page */
.category-circle {
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin-bottom: 10px;
}

.card-text del {
    margin-right: 10px;
}
